# Default ignored files
/shelf/
/workspace.xml
/.idea/
.zencoder
.vscode/settings.json
services/billing/services/__pycache__/
services/__pycache__/
services/billing/__pycache__/
services/billing/api/v1/__pycache__/
services/inventory/__pycache__/
services/inventory/api/__pycache__/
services/inventory/api/v1/__pycache__/
services/inventory/models/__pycache__/
services/lead_to_order/__pycache__/
services/lead_to_order/api/__pycache__/
services/lead_to_order/api/v1/__pycache__/
services/lead_to_order/models/__pycache__/
services/support_ticket/__pycache__/
services/support_ticket/models/__pycache__/
services/support_ticket/api/__pycache__/
services/support_ticket/api/v1/__pycache__/
services/auth/__pycache__/
services/auth/api/__pycache__/
services/auth/api/v1/__pycache__/
services/auth/services/__pycache__/
services/user_management/__pycache__/
services/user_management/api/__pycache__/
services/user_management/api/v1/__pycache__/
services/user_management/services/__pycache__/
services/user_management/api/__pycache__/
services/user_management/api/v1/__pycache__/
services/user_management/services/__pycache__/
migrations/versions/__pycache__/
migrations/__pycache__/

shared/__pycache__/
shared/database/__pycache__/
shared/exceptions/__pycache__/
shared/middleware/__pycache__/
shared/models/__pycache__/
shared/schemas/__pycache__/
shared/security/__pycache__/
shared/utils/__pycache__/
scripts/__pycache__/
*.txt